<div class="subscribe{{#if card}} subscribe--card{{/if}}"{{#if card}} style="background: url('{{@blog.url}}/assets/img/subscribe.png') center center / cover no-repeat;"{{/if}}>
    <div class="subscribe-wrapper">
        <p class="subscribe-text">{{#if card}}{{t "Get our fresh and exclusive news because we love coding but also writing"}}{{else}}{{t "We love coding but also writing and sharing our experiences."}}{{/if}}</p>
        <iframe data-w-type="embedded" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="{{t "subscription iframe"}}" width="100%"></iframe>
        <script type="text/javascript" src="https://app.mailjet.com/pas-nc-embedded-v1.js"></script>
    </div>
</div>
